@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
}
#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0.5;
}
#stars1 {
  width: 3px;
  height: 3px;
  background: transparent;
  border-radius: 50%;
  animation: animStar 120s linear infinite;

  box-shadow: 779px 1331px red, 324px 42px red, 303px 586px red,
    1312px 276px red, 451px 625px red, 521px 1931px red, 1087px 1871px red,
    36px 1546px red, 132px 934px red, 1698px 901px red, 1418px 664px red,
    1448px 1157px red, 1084px 232px red, 347px 1776px red, 1722px 243px red,
    1629px 835px red, 479px 969px red, 1231px 960px red, 586px 384px red,
    164px 527px red, 8px 646px red, 1150px 1126px red, 665px 1357px red,
    1556px 1982px red, 1260px 1961px red, 1675px 1741px red, 1843px 1514px red,
    718px 1628px red, 242px 1343px red, 1497px 1880px red, 1364px 230px red,
    1739px 1302px red, 636px 959px red, 304px 686px red, 614px 751px red,
    1935px 816px red, 1428px 60px red, 355px 335px red, 1594px 158px red,
    90px 60px red, 1553px 162px red, 1239px 1825px red, 1945px 587px red,
    749px 1785px red, 1987px 1172px red, 1301px 1237px red, 1039px 342px red,
    1585px 1481px red, 995px 1048px red, 524px 932px red, 214px 413px red,
    1701px 1300px red, 1037px 1613px red, 1871px 996px red, 1360px 1635px red,
    1110px 1313px red, 412px 1783px red, 1949px 177px red, 903px 1854px red,
    700px 1936px red, 378px 125px red, 308px 834px red, 1118px 962px red,
    1350px 1929px red, 781px 1811px red, 561px 137px red, 757px 1148px red,
    1670px 1979px red, 343px 739px red, 945px 795px red, 576px 1903px red,
    1078px 1436px red, 1583px 450px red, 1366px 474px red, 297px 1873px red,
    192px 162px red, 1624px 1633px red, 59px 453px red, 82px 1872px red,
    1933px 498px red, 1966px 1974px red, 1975px 1688px red, 779px 314px red,
    1858px 1543px red, 73px 1507px red, 1693px 975px red, 1683px 108px red,
    1768px 1654px red, 654px 14px red, 494px 171px red, 1689px 1895px red,
    1660px 263px red, 1031px 903px red, 1203px 1393px red, 1333px 1421px red,
    1113px 41px red, 1206px 1645px red, 1325px 1635px red, 142px 388px red,
    572px 215px red, 1535px 296px red, 1419px 407px red, 1379px 1003px red,
    329px 469px red, 1791px 1652px red, 935px 1802px red, 1330px 1820px red,
    421px 1933px red, 828px 365px red, 275px 316px red, 707px 960px red,
    1605px 1554px red, 625px 58px red, 717px 1697px red, 1669px 246px red,
    1925px 322px red, 1154px 1803px red, 1929px 295px red, 1248px 240px red,
    1045px 1755px red, 166px 942px red, 1888px 1773px red, 678px 1963px red,
    1370px 569px red, 1974px 1400px red, 1786px 460px red, 51px 307px red,
    784px 1400px red, 730px 1258px red, 1712px 393px red, 416px 170px red,
    1797px 1932px red, 572px 219px red, 1557px 1856px red, 218px 8px red,
    348px 1334px red, 469px 413px red, 385px 1738px red, 1357px 1818px red,
    240px 942px red, 248px 1847px red, 1535px 806px red, 236px 1514px red,
    1429px 1556px red, 73px 1633px red, 1398px 1121px red, 671px 1301px red,
    1404px 1663px red, 740px 1018px red, 1600px 377px red, 785px 514px red,
    112px 1084px red, 1915px 1887px red, 1463px 1848px red, 687px 1115px red,
    1268px 1768px red, 1729px 1425px red, 1284px 1022px red, 801px 974px red,
    1975px 1317px red, 1354px 834px red, 1446px 1484px red, 1283px 1786px red,
    11px 523px red, 1842px 236px red, 1355px 654px red, 429px 7px red,
    1033px 1128px red, 157px 297px red, 545px 635px red, 52px 1080px red,
    827px 1520px red, 1121px 490px red, 9px 309px red, 1744px 1586px red,
    1014px 417px red, 1534px 524px red, 958px 552px red, 1403px 1496px red,
    387px 703px red, 1522px 548px red, 1355px 282px red, 1532px 601px red,
    1838px 790px red, 290px 259px red, 295px 598px red, 1601px 539px red,
    1561px 1272px red, 34px 1922px red, 1024px 543px red, 467px 369px red,
    722px 333px red, 1976px 1255px red, 766px 983px red, 1582px 1285px red,
    12px 512px red, 617px 1410px red, 682px 577px red, 1334px 1438px red,
    439px 327px red, 1617px 1661px red, 673px 129px red, 794px 941px red,
    1386px 1902px red, 37px 1353px red, 1467px 1353px red, 416px 18px red,
    187px 344px red, 200px 1898px red, 1491px 1619px red, 811px 347px red,
    924px 1827px red, 945px 217px red, 1735px 1228px red, 379px 1890px red,
    79px 761px red, 825px 1837px red, 1980px 1558px red, 1308px 1573px red,
    1488px 1726px red, 382px 1208px red, 522px 595px red, 1277px 1898px red,
    354px 552px red, 161px 1784px red, 614px 251px red, 526px 1576px red,
    17px 212px red, 179px 996px red, 467px 1208px red, 1944px 1838px red,
    1140px 1093px red, 858px 1007px red, 200px 1064px red, 423px 1964px red,
    1945px 439px red, 1377px 689px red, 1120px 1437px red, 1876px 668px red,
    907px 1324px red, 343px 1976px red, 1816px 1501px red, 1849px 177px red,
    647px 91px red, 1984px 1012px red, 1336px 1300px red, 128px 648px red,
    305px 1060px red, 1324px 826px red, 1263px 1314px red, 1801px 629px red,
    1614px 1555px red, 1634px 90px red, 1603px 452px red, 891px 1984px red,
    1556px 1906px red, 121px 68px red, 1676px 1714px red, 516px 936px red,
    1947px 1492px red, 1455px 1519px red, 45px 602px red, 205px 1039px red,
    793px 172px red, 1562px 1739px red, 1056px 110px red, 1512px 379px red,
    1795px 1621px red, 1848px 607px red, 262px 1719px red, 477px 991px red,
    483px 883px red, 1239px 1197px red, 1496px 647px red, 1649px 25px red,
    1491px 1946px red, 119px 996px red, 179px 1472px red, 1341px 808px red,
    1565px 1700px red, 407px 1544px red, 1754px 357px red, 1288px 981px red,
    902px 1997px red, 1755px 1668px red, 186px 877px red, 1202px 1882px red,
    461px 1213px red, 1400px 748px red, 1969px 1899px red, 809px 522px red,
    514px 1219px red, 374px 275px red, 938px 1973px red, 357px 552px red,
    144px 1722px red, 1572px 912px red, 402px 1858px red, 1544px 1195px red,
    667px 1257px red, 727px 1496px red, 993px 232px red, 1772px 313px red,
    1040px 1590px red, 1204px 1973px red, 1268px 79px red, 1555px 1048px red,
    986px 1707px red, 978px 1710px red, 713px 360px red, 407px 863px red,
    461px 736px red, 284px 1608px red, 103px 430px red, 1283px 1319px red,
    977px 1186px red, 1966px 1516px red, 1287px 1129px red, 70px 1098px red,
    1189px 889px red, 1126px 1734px red, 309px 1292px red, 879px 764px red,
    65px 473px red, 1003px 1959px red, 658px 791px red, 402px 1576px red,
    35px 622px red, 529px 1589px red, 164px 666px red, 1876px 1290px red,
    1541px 526px red, 270px 1297px red, 440px 865px red, 1500px 802px red,
    182px 1754px red, 1264px 892px red, 272px 1249px red, 1289px 1535px red,
    190px 1646px red, 955px 242px red, 1456px 1597px red, 1727px 1983px red,
    635px 801px red, 226px 455px red, 1396px 1710px red, 849px 1863px red,
    237px 1264px red, 839px 140px red, 1122px 735px red, 1280px 15px red,
    1318px 242px red, 1819px 1148px red, 333px 1392px red, 1949px 553px red,
    1878px 1332px red, 467px 548px red, 1812px 1082px red, 1067px 193px red,
    243px 156px red, 483px 1616px red, 1714px 933px red, 759px 1800px red,
    1822px 995px red, 1877px 572px red, 581px 1084px red, 107px 732px red,
    642px 1837px red, 166px 1493px red, 1555px 198px red, 819px 307px red,
    947px 345px red, 827px 224px red, 927px 1394px red, 540px 467px red,
    1093px 405px red, 1140px 927px red, 130px 529px red, 33px 1980px red,
    1147px 1663px red, 1616px 1436px red, 528px 710px red, 798px 1100px red,
    505px 1480px red, 899px 641px red, 1909px 1949px red, 1311px 964px red,
    979px 1301px red, 1393px 969px red, 1793px 1886px red, 292px 357px red,
    1196px 1718px red, 1290px 1994px red, 537px 1973px red, 1181px 1674px red,
    1740px 1566px red, 1307px 265px red, 922px 522px red, 1892px 472px red,
    384px 1746px red, 392px 1098px red, 647px 548px red, 390px 1498px red,
    1246px 138px red, 730px 876px red, 192px 1472px red, 1790px 1789px red,
    928px 311px red, 1253px 1647px red, 747px 1921px red, 1561px 1025px red,
    1533px 1292px red, 1985px 195px red, 728px 729px red, 1712px 1936px red,
    512px 1717px red, 1528px 483px red, 313px 1642px red, 281px 1849px red,
    1212px 799px red, 435px 1191px red, 1422px 611px red, 1718px 1964px red,
    411px 944px red, 210px 636px red, 1502px 1295px red, 1434px 349px red,
    769px 60px red, 747px 1053px red, 789px 504px red, 1436px 1264px red,
    1893px 1225px red, 1394px 1788px red, 1108px 1317px red, 1673px 1395px red,
    854px 1010px red, 1705px 80px red, 1858px 148px red, 1729px 344px red,
    1388px 664px red, 895px 406px red, 1479px 157px red, 1441px 1157px red,
    552px 1900px red, 516px 364px red, 1647px 189px red, 1427px 1071px red,
    785px 729px red, 1080px 1710px red, 504px 204px red, 1177px 1622px red,
    657px 34px red, 1296px 1099px red, 248px 180px red, 1212px 1568px red,
    667px 1562px red, 695px 841px red, 1608px 1247px red, 751px 882px red,
    87px 167px red, 607px 1368px red, 1363px 1203px red, 1836px 317px red,
    1668px 1703px red, 830px 1154px red, 1721px 1398px red, 1601px 1280px red,
    976px 874px red, 1743px 254px red, 1020px 1815px red, 1670px 1766px red,
    1890px 735px red, 1379px 136px red, 1864px 695px red, 206px 965px red,
    1404px 1932px red, 1923px 1360px red, 247px 682px red, 519px 1708px red,
    645px 750px red, 1164px 1204px red, 834px 323px red, 172px 1350px red,
    213px 972px red, 1837px 190px red, 285px 1806px red, 1047px 1299px red,
    1548px 825px red, 1730px 324px red, 1346px 1909px red, 772px 270px red,
    345px 1190px red, 478px 1433px red, 1479px 25px red, 1994px 1830px red,
    1744px 732px red, 20px 1635px red, 690px 1795px red, 1594px 569px red,
    579px 245px red, 1398px 733px red, 408px 1352px red, 1774px 120px red,
    1152px 1370px red, 1698px 1810px red, 710px 1450px red, 665px 286px red,
    493px 1720px red, 786px 5px red, 637px 1140px red, 764px 324px red,
    927px 310px red, 938px 1424px red, 1884px 744px red, 913px 462px red,
    1831px 1936px red, 1527px 249px red, 36px 1381px red, 1597px 581px red,
    1530px 355px red, 949px 459px red, 799px 828px red, 242px 1471px red,
    654px 797px red, 796px 594px red, 1365px 678px red, 752px 23px red,
    1630px 541px red, 982px 72px red, 1733px 1831px red, 21px 412px red,
    775px 998px red, 335px 1945px red, 264px 583px red, 158px 1311px red,
    528px 164px red, 1978px 574px red, 717px 1203px red, 734px 1591px red,
    1555px 820px red, 16px 1943px red, 1625px 1177px red, 1236px 690px red,
    1585px 1590px red, 1737px 1728px red, 721px 698px red, 1804px 1186px red,
    166px 980px red, 1850px 230px red, 330px 1712px red, 95px 797px red,
    1948px 1078px red, 469px 939px red, 1269px 1899px red, 955px 1220px red,
    1137px 1075px red, 312px 1293px red, 986px 1762px red, 1103px 1238px red,
    428px 1993px red, 355px 570px red, 977px 1836px red, 1395px 1092px red,
    276px 913px red, 1743px 656px red, 773px 502px red, 1686px 1322px red,
    1516px 1945px red, 1334px 501px red, 266px 156px red, 455px 655px red,
    798px 72px red, 1059px 1259px red, 1402px 1687px red, 236px 1329px red,
    1455px 786px red, 146px 1228px red, 1851px 823px red, 1062px 100px red,
    1220px 953px red, 20px 1826px red, 36px 1063px red, 1525px 338px red,
    790px 1521px red, 741px 1099px red, 288px 1489px red, 700px 1060px red,
    390px 1071px red, 411px 1036px red, 1853px 1072px red, 1446px 1085px red,
    1164px 874px red, 924px 925px red, 291px 271px red, 1257px 1964px red,
    1580px 1352px red, 1507px 1216px red, 211px 956px red, 985px 1195px red,
    975px 1640px red, 518px 101px red, 663px 1395px red, 914px 532px red,
    145px 1320px red, 69px 1397px red, 982px 523px red, 257px 725px red,
    1599px 831px red, 1636px 1513px red, 1250px 1158px red, 1132px 604px red,
    183px 102px red, 1057px 318px red, 1247px 1835px red, 1983px 1110px red,
    1077px 1455px red, 921px 1770px red, 806px 1350px red, 1938px 1992px red,
    855px 1260px red, 902px 1345px red, 658px 1908px red, 1845px 679px red,
    712px 1482px red, 595px 950px red, 1784px 1992px red, 1847px 1785px red,
    691px 1004px red, 175px 1179px red, 1666px 1911px red, 41px 61px red,
    971px 1080px red, 1830px 1450px red, 1351px 1518px red, 1257px 99px red,
    1395px 1498px red, 1117px 252px red, 1779px 597px red, 1346px 729px red,
    1108px 1144px red, 402px 691px red, 72px 496px red, 1673px 1604px red,
    1497px 974px red, 1865px 1664px red, 88px 806px red, 918px 77px red,
    244px 1118px red, 256px 1820px red, 1851px 1840px red, 605px 1851px red,
    634px 383px red, 865px 37px red, 943px 1024px red, 1951px 177px red,
    1097px 523px red, 985px 1700px red, 1243px 122px red, 768px 1070px red,
    468px 194px red, 320px 1867px red, 1850px 185px red, 380px 1616px red,
    468px 1294px red, 1122px 1743px red, 884px 299px red, 1300px 1917px red,
    1860px 396px red, 1270px 990px red, 529px 733px red, 1975px 1347px red,
    1885px 685px red, 226px 506px red, 651px 878px red, 1323px 680px red,
    1284px 680px red, 238px 1967px red, 911px 174px red, 1111px 521px red,
    1150px 85px red, 794px 502px red, 484px 1856px red, 1809px 368px red,
    112px 953px red, 590px 1009px red, 1655px 311px red, 100px 1026px red,
    1803px 352px red, 865px 306px red, 1077px 1019px red, 1335px 872px red,
    1647px 1298px red, 1233px 1387px red, 698px 1036px red, 659px 1860px red,
    388px 1412px red, 1212px 458px red, 755px 1468px red, 696px 1654px red,
    1144px 60px red;
}

#stars1:after {
  content: "";
  position: absolute;
  top: auto;
  width: 3px;
  border-radius: 50%;
  height: 3px;
  background: transparent;

  box-shadow: 779px 1331px red, 324px 42px red, 303px 586px red,
    1312px 276px red, 451px 625px red, 521px 1931px red, 1087px 1871px red,
    36px 1546px red, 132px 934px red, 1698px 901px red, 1418px 664px red,
    1448px 1157px red, 1084px 232px red, 347px 1776px red, 1722px 243px red,
    1629px 835px red, 479px 969px red, 1231px 960px red, 586px 384px red,
    164px 527px red, 8px 646px red, 1150px 1126px red, 665px 1357px red,
    1556px 1982px red, 1260px 1961px red, 1675px 1741px red, 1843px 1514px red,
    718px 1628px red, 242px 1343px red, 1497px 1880px red, 1364px 230px red,
    1739px 1302px red, 636px 959px red, 304px 686px red, 614px 751px red,
    1935px 816px red, 1428px 60px red, 355px 335px red, 1594px 158px red,
    90px 60px red, 1553px 162px red, 1239px 1825px red, 1945px 587px red,
    749px 1785px red, 1987px 1172px red, 1301px 1237px red, 1039px 342px red,
    1585px 1481px red, 995px 1048px red, 524px 932px red, 214px 413px red,
    1701px 1300px red, 1037px 1613px red, 1871px 996px red, 1360px 1635px red,
    1110px 1313px red, 412px 1783px red, 1949px 177px red, 903px 1854px red,
    700px 1936px red, 378px 125px red, 308px 834px red, 1118px 962px red,
    1350px 1929px red, 781px 1811px red, 561px 137px red, 757px 1148px red,
    1670px 1979px red, 343px 739px red, 945px 795px red, 576px 1903px red,
    1078px 1436px red, 1583px 450px red, 1366px 474px red, 297px 1873px red,
    192px 162px red, 1624px 1633px red, 59px 453px red, 82px 1872px red,
    1933px 498px red, 1966px 1974px red, 1975px 1688px red, 779px 314px red,
    1858px 1543px red, 73px 1507px red, 1693px 975px red, 1683px 108px red,
    1768px 1654px red, 654px 14px red, 494px 171px red, 1689px 1895px red,
    1660px 263px red, 1031px 903px red, 1203px 1393px red, 1333px 1421px red,
    1113px 41px red, 1206px 1645px red, 1325px 1635px red, 142px 388px red,
    572px 215px red, 1535px 296px red, 1419px 407px red, 1379px 1003px red,
    329px 469px red, 1791px 1652px red, 935px 1802px red, 1330px 1820px red,
    421px 1933px red, 828px 365px red, 275px 316px red, 707px 960px red,
    1605px 1554px red, 625px 58px red, 717px 1697px red, 1669px 246px red,
    1925px 322px red, 1154px 1803px red, 1929px 295px red, 1248px 240px red,
    1045px 1755px red, 166px 942px red, 1888px 1773px red, 678px 1963px red,
    1370px 569px red, 1974px 1400px red, 1786px 460px red, 51px 307px red,
    784px 1400px red, 730px 1258px red, 1712px 393px red, 416px 170px red,
    1797px 1932px red, 572px 219px red, 1557px 1856px red, 218px 8px red,
    348px 1334px red, 469px 413px red, 385px 1738px red, 1357px 1818px red,
    240px 942px red, 248px 1847px red, 1535px 806px red, 236px 1514px red,
    1429px 1556px red, 73px 1633px red, 1398px 1121px red, 671px 1301px red,
    1404px 1663px red, 740px 1018px red, 1600px 377px red, 785px 514px red,
    112px 1084px red, 1915px 1887px red, 1463px 1848px red, 687px 1115px red,
    1268px 1768px red, 1729px 1425px red, 1284px 1022px red, 801px 974px red,
    1975px 1317px red, 1354px 834px red, 1446px 1484px red, 1283px 1786px red,
    11px 523px red, 1842px 236px red, 1355px 654px red, 429px 7px red,
    1033px 1128px red, 157px 297px red, 545px 635px red, 52px 1080px red,
    827px 1520px red, 1121px 490px red, 9px 309px red, 1744px 1586px red,
    1014px 417px red, 1534px 524px red, 958px 552px red, 1403px 1496px red,
    387px 703px red, 1522px 548px red, 1355px 282px red, 1532px 601px red,
    1838px 790px red, 290px 259px red, 295px 598px red, 1601px 539px red,
    1561px 1272px red, 34px 1922px red, 1024px 543px red, 467px 369px red,
    722px 333px red, 1976px 1255px red, 766px 983px red, 1582px 1285px red,
    12px 512px red, 617px 1410px red, 682px 577px red, 1334px 1438px red,
    439px 327px red, 1617px 1661px red, 673px 129px red, 794px 941px red,
    1386px 1902px red, 37px 1353px red, 1467px 1353px red, 416px 18px red,
    187px 344px red, 200px 1898px red, 1491px 1619px red, 811px 347px red,
    924px 1827px red, 945px 217px red, 1735px 1228px red, 379px 1890px red,
    79px 761px red, 825px 1837px red, 1980px 1558px red, 1308px 1573px red,
    1488px 1726px red, 382px 1208px red, 522px 595px red, 1277px 1898px red,
    354px 552px red, 161px 1784px red, 614px 251px red, 526px 1576px red,
    17px 212px red, 179px 996px red, 467px 1208px red, 1944px 1838px red,
    1140px 1093px red, 858px 1007px red, 200px 1064px red, 423px 1964px red,
    1945px 439px red, 1377px 689px red, 1120px 1437px red, 1876px 668px red,
    907px 1324px red, 343px 1976px red, 1816px 1501px red, 1849px 177px red,
    647px 91px red, 1984px 1012px red, 1336px 1300px red, 128px 648px red,
    305px 1060px red, 1324px 826px red, 1263px 1314px red, 1801px 629px red,
    1614px 1555px red, 1634px 90px red, 1603px 452px red, 891px 1984px red,
    1556px 1906px red, 121px 68px red, 1676px 1714px red, 516px 936px red,
    1947px 1492px red, 1455px 1519px red, 45px 602px red, 205px 1039px red,
    793px 172px red, 1562px 1739px red, 1056px 110px red, 1512px 379px red,
    1795px 1621px red, 1848px 607px red, 262px 1719px red, 477px 991px red,
    483px 883px red, 1239px 1197px red, 1496px 647px red, 1649px 25px red,
    1491px 1946px red, 119px 996px red, 179px 1472px red, 1341px 808px red,
    1565px 1700px red, 407px 1544px red, 1754px 357px red, 1288px 981px red,
    902px 1997px red, 1755px 1668px red, 186px 877px red, 1202px 1882px red,
    461px 1213px red, 1400px 748px red, 1969px 1899px red, 809px 522px red,
    514px 1219px red, 374px 275px red, 938px 1973px red, 357px 552px red,
    144px 1722px red, 1572px 912px red, 402px 1858px red, 1544px 1195px red,
    667px 1257px red, 727px 1496px red, 993px 232px red, 1772px 313px red,
    1040px 1590px red, 1204px 1973px red, 1268px 79px red, 1555px 1048px red,
    986px 1707px red, 978px 1710px red, 713px 360px red, 407px 863px red,
    461px 736px red, 284px 1608px red, 103px 430px red, 1283px 1319px red,
    977px 1186px red, 1966px 1516px red, 1287px 1129px red, 70px 1098px red,
    1189px 889px red, 1126px 1734px red, 309px 1292px red, 879px 764px red,
    65px 473px red, 1003px 1959px red, 658px 791px red, 402px 1576px red,
    35px 622px red, 529px 1589px red, 164px 666px red, 1876px 1290px red,
    1541px 526px red, 270px 1297px red, 440px 865px red, 1500px 802px red,
    182px 1754px red, 1264px 892px red, 272px 1249px red, 1289px 1535px red,
    190px 1646px red, 955px 242px red, 1456px 1597px red, 1727px 1983px red,
    635px 801px red, 226px 455px red, 1396px 1710px red, 849px 1863px red,
    237px 1264px red, 839px 140px red, 1122px 735px red, 1280px 15px red,
    1318px 242px red, 1819px 1148px red, 333px 1392px red, 1949px 553px red,
    1878px 1332px red, 467px 548px red, 1812px 1082px red, 1067px 193px red,
    243px 156px red, 483px 1616px red, 1714px 933px red, 759px 1800px red,
    1822px 995px red, 1877px 572px red, 581px 1084px red, 107px 732px red,
    642px 1837px red, 166px 1493px red, 1555px 198px red, 819px 307px red,
    947px 345px red, 827px 224px red, 927px 1394px red, 540px 467px red,
    1093px 405px red, 1140px 927px red, 130px 529px red, 33px 1980px red,
    1147px 1663px red, 1616px 1436px red, 528px 710px red, 798px 1100px red,
    505px 1480px red, 899px 641px red, 1909px 1949px red, 1311px 964px red,
    979px 1301px red, 1393px 969px red, 1793px 1886px red, 292px 357px red,
    1196px 1718px red, 1290px 1994px red, 537px 1973px red, 1181px 1674px red,
    1740px 1566px red, 1307px 265px red, 922px 522px red, 1892px 472px red,
    384px 1746px red, 392px 1098px red, 647px 548px red, 390px 1498px red,
    1246px 138px red, 730px 876px red, 192px 1472px red, 1790px 1789px red,
    928px 311px red, 1253px 1647px red, 747px 1921px red, 1561px 1025px red,
    1533px 1292px red, 1985px 195px red, 728px 729px red, 1712px 1936px red,
    512px 1717px red, 1528px 483px red, 313px 1642px red, 281px 1849px red,
    1212px 799px red, 435px 1191px red, 1422px 611px red, 1718px 1964px red,
    411px 944px red, 210px 636px red, 1502px 1295px red, 1434px 349px red,
    769px 60px red, 747px 1053px red, 789px 504px red, 1436px 1264px red,
    1893px 1225px red, 1394px 1788px red, 1108px 1317px red, 1673px 1395px red,
    854px 1010px red, 1705px 80px red, 1858px 148px red, 1729px 344px red,
    1388px 664px red, 895px 406px red, 1479px 157px red, 1441px 1157px red,
    552px 1900px red, 516px 364px red, 1647px 189px red, 1427px 1071px red,
    785px 729px red, 1080px 1710px red, 504px 204px red, 1177px 1622px red,
    657px 34px red, 1296px 1099px red, 248px 180px red, 1212px 1568px red,
    667px 1562px red, 695px 841px red, 1608px 1247px red, 751px 882px red,
    87px 167px red, 607px 1368px red, 1363px 1203px red, 1836px 317px red,
    1668px 1703px red, 830px 1154px red, 1721px 1398px red, 1601px 1280px red,
    976px 874px red, 1743px 254px red, 1020px 1815px red, 1670px 1766px red,
    1890px 735px red, 1379px 136px red, 1864px 695px red, 206px 965px red,
    1404px 1932px red, 1923px 1360px red, 247px 682px red, 519px 1708px red,
    645px 750px red, 1164px 1204px red, 834px 323px red, 172px 1350px red,
    213px 972px red, 1837px 190px red, 285px 1806px red, 1047px 1299px red,
    1548px 825px red, 1730px 324px red, 1346px 1909px red, 772px 270px red,
    345px 1190px red, 478px 1433px red, 1479px 25px red, 1994px 1830px red,
    1744px 732px red, 20px 1635px red, 690px 1795px red, 1594px 569px red,
    579px 245px red, 1398px 733px red, 408px 1352px red, 1774px 120px red,
    1152px 1370px red, 1698px 1810px red, 710px 1450px red, 665px 286px red,
    493px 1720px red, 786px 5px red, 637px 1140px red, 764px 324px red,
    927px 310px red, 938px 1424px red, 1884px 744px red, 913px 462px red,
    1831px 1936px red, 1527px 249px red, 36px 1381px red, 1597px 581px red,
    1530px 355px red, 949px 459px red, 799px 828px red, 242px 1471px red,
    654px 797px red, 796px 594px red, 1365px 678px red, 752px 23px red,
    1630px 541px red, 982px 72px red, 1733px 1831px red, 21px 412px red,
    775px 998px red, 335px 1945px red, 264px 583px red, 158px 1311px red,
    528px 164px red, 1978px 574px red, 717px 1203px red, 734px 1591px red,
    1555px 820px red, 16px 1943px red, 1625px 1177px red, 1236px 690px red,
    1585px 1590px red, 1737px 1728px red, 721px 698px red, 1804px 1186px red,
    166px 980px red, 1850px 230px red, 330px 1712px red, 95px 797px red,
    1948px 1078px red, 469px 939px red, 1269px 1899px red, 955px 1220px red,
    1137px 1075px red, 312px 1293px red, 986px 1762px red, 1103px 1238px red,
    428px 1993px red, 355px 570px red, 977px 1836px red, 1395px 1092px red,
    276px 913px red, 1743px 656px red, 773px 502px red, 1686px 1322px red,
    1516px 1945px red, 1334px 501px red, 266px 156px red, 455px 655px red,
    798px 72px red, 1059px 1259px red, 1402px 1687px red, 236px 1329px red,
    1455px 786px red, 146px 1228px red, 1851px 823px red, 1062px 100px red,
    1220px 953px red, 20px 1826px red, 36px 1063px red, 1525px 338px red,
    790px 1521px red, 741px 1099px red, 288px 1489px red, 700px 1060px red,
    390px 1071px red, 411px 1036px red, 1853px 1072px red, 1446px 1085px red,
    1164px 874px red, 924px 925px red, 291px 271px red, 1257px 1964px red,
    1580px 1352px red, 1507px 1216px red, 211px 956px red, 985px 1195px red,
    975px 1640px red, 518px 101px red, 663px 1395px red, 914px 532px red,
    145px 1320px red, 69px 1397px red, 982px 523px red, 257px 725px red,
    1599px 831px red, 1636px 1513px red, 1250px 1158px red, 1132px 604px red,
    183px 102px red, 1057px 318px red, 1247px 1835px red, 1983px 1110px red,
    1077px 1455px red, 921px 1770px red, 806px 1350px red, 1938px 1992px red,
    855px 1260px red, 902px 1345px red, 658px 1908px red, 1845px 679px red,
    712px 1482px red, 595px 950px red, 1784px 1992px red, 1847px 1785px red,
    691px 1004px red, 175px 1179px red, 1666px 1911px red, 41px 61px red,
    971px 1080px red, 1830px 1450px red, 1351px 1518px red, 1257px 99px red,
    1395px 1498px red, 1117px 252px red, 1779px 597px red, 1346px 729px red,
    1108px 1144px red, 402px 691px red, 72px 496px red, 1673px 1604px red,
    1497px 974px red, 1865px 1664px red, 88px 806px red, 918px 77px red,
    244px 1118px red, 256px 1820px red, 1851px 1840px red, 605px 1851px red,
    634px 383px red, 865px 37px red, 943px 1024px red, 1951px 177px red,
    1097px 523px red, 985px 1700px red, 1243px 122px red, 768px 1070px red,
    468px 194px red, 320px 1867px red, 1850px 185px red, 380px 1616px red,
    468px 1294px red, 1122px 1743px red, 884px 299px red, 1300px 1917px red,
    1860px 396px red, 1270px 990px red, 529px 733px red, 1975px 1347px red,
    1885px 685px red, 226px 506px red, 651px 878px red, 1323px 680px red,
    1284px 680px red, 238px 1967px red, 911px 174px red, 1111px 521px red,
    1150px 85px red, 794px 502px red, 484px 1856px red, 1809px 368px red,
    112px 953px red, 590px 1009px red, 1655px 311px red, 100px 1026px red,
    1803px 352px red, 865px 306px red, 1077px 1019px red, 1335px 872px red,
    1647px 1298px red, 1233px 1387px red, 698px 1036px red, 659px 1860px red,
    388px 1412px red, 1212px 458px red, 755px 1468px red, 696px 1654px red,
    1144px 60px red;
}

#stars2 {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: transparent;
  animation: animStar 180s linear infinite;

  box-shadow: 1448px 320px red, 1775px 1663px red, 332px 1364px red,
    878px 340px red, 569px 1832px red, 1422px 1684px red, 1946px 1907px red,
    121px 979px red, 1044px 1069px red, 463px 381px red, 423px 112px red,
    523px 1179px red, 779px 654px red, 1398px 694px red, 1085px 1464px red,
    1599px 1869px red, 801px 1882px red, 779px 1231px red, 552px 932px red,
    1057px 1196px red, 282px 1280px red, 496px 1986px red, 1833px 1120px red,
    1802px 1293px red, 6px 1696px red, 412px 1902px red, 605px 438px red,
    24px 1212px red, 234px 1320px red, 544px 344px red, 1107px 170px red,
    1603px 196px red, 905px 648px red, 68px 1458px red, 649px 1969px red,
    744px 675px red, 1127px 478px red, 714px 1814px red, 1486px 526px red,
    270px 1636px red, 1931px 149px red, 1807px 378px red, 8px 390px red,
    1415px 699px red, 1473px 1211px red, 1590px 141px red, 270px 1705px red,
    69px 1423px red, 1108px 1053px red, 1946px 128px red, 371px 371px red,
    1490px 220px red, 357px 1885px red, 363px 363px red, 1896px 1256px red,
    1979px 1050px red, 947px 1342px red, 1754px 242px red, 514px 974px red,
    65px 1477px red, 1840px 547px red, 950px 695px red, 459px 1150px red,
    1124px 1502px red, 481px 940px red, 680px 839px red, 797px 1169px red,
    1977px 1491px red, 734px 1724px red, 210px 298px red, 816px 628px red,
    686px 770px red, 1721px 267px red, 1663px 511px red, 1481px 1141px red,
    582px 248px red, 1308px 953px red, 628px 657px red, 897px 1535px red,
    270px 931px red, 791px 467px red, 1336px 1732px red, 1013px 1653px red,
    1911px 956px red, 587px 816px red, 83px 456px red, 930px 1478px red,
    1587px 1694px red, 614px 1200px red, 302px 1782px red, 1711px 1432px red,
    443px 904px red, 1666px 714px red, 1588px 1167px red, 273px 1075px red,
    1679px 461px red, 721px 664px red, 1202px 10px red, 166px 1126px red,
    331px 1628px red, 430px 1565px red, 1585px 509px red, 640px 38px red,
    822px 837px red, 1760px 1664px red, 1122px 1458px red, 398px 131px red,
    689px 285px red, 460px 652px red, 1627px 365px red, 348px 1648px red,
    819px 1946px red, 981px 1917px red, 323px 76px red, 979px 684px red,
    887px 536px red, 1348px 1596px red, 1055px 666px red, 1402px 1797px red,
    1300px 1055px red, 937px 238px red, 1474px 1815px red, 1144px 1710px red,
    1629px 1087px red, 911px 919px red, 771px 819px red, 403px 720px red,
    163px 736px red, 1062px 238px red, 1774px 818px red, 1874px 1178px red,
    1177px 699px red, 1244px 1244px red, 1371px 58px red, 564px 1515px red,
    1824px 487px red, 929px 702px red, 394px 1348px red, 1161px 641px red,
    219px 1841px red, 358px 941px red, 140px 1759px red, 1019px 1345px red,
    274px 436px red, 1433px 1605px red, 1798px 1426px red, 294px 1848px red,
    1681px 1877px red, 1344px 1824px red, 1439px 1632px red, 161px 1012px red,
    1308px 588px red, 1789px 582px red, 721px 1910px red, 318px 218px red,
    607px 319px red, 495px 535px red, 1552px 1575px red, 1562px 67px red,
    403px 926px red, 1096px 1800px red, 1814px 1709px red, 1882px 1831px red,
    533px 46px red, 823px 969px red, 530px 165px red, 1030px 352px red,
    1681px 313px red, 338px 115px red, 1607px 211px red, 1718px 1184px red,
    1589px 659px red, 278px 355px red, 464px 1464px red, 1165px 277px red,
    950px 694px red, 1746px 293px red, 793px 911px red, 528px 773px red,
    1883px 1694px red, 748px 182px red, 1924px 1531px red, 100px 636px red,
    1473px 1445px red, 1264px 1244px red, 850px 1377px red, 987px 1976px red,
    933px 1761px red, 922px 1270px red, 500px 396px red, 1324px 8px red,
    1967px 1814px red, 1072px 1401px red, 961px 37px red, 156px 81px red,
    1915px 502px red, 1076px 1846px red, 152px 1669px red, 986px 1529px red,
    1667px 1137px red;
}
#stars2:after {
  content: "";
  position: absolute;
  top: auto;
  width: 5px;
  border-radius: 50%;
  height: 5px;
  background: transparent;

  box-shadow: 1448px 320px red, 1775px 1663px red, 332px 1364px red,
    878px 340px red, 569px 1832px red, 1422px 1684px red, 1946px 1907px red,
    121px 979px red, 1044px 1069px red, 463px 381px red, 423px 112px red,
    523px 1179px red, 779px 654px red, 1398px 694px red, 1085px 1464px red,
    1599px 1869px red, 801px 1882px red, 779px 1231px red, 552px 932px red,
    1057px 1196px red, 282px 1280px red, 496px 1986px red, 1833px 1120px red,
    1802px 1293px red, 6px 1696px red, 412px 1902px red, 605px 438px red,
    24px 1212px red, 234px 1320px red, 544px 344px red, 1107px 170px red,
    1603px 196px red, 905px 648px red, 68px 1458px red, 649px 1969px red,
    744px 675px red, 1127px 478px red, 714px 1814px red, 1486px 526px red,
    270px 1636px red, 1931px 149px red, 1807px 378px red, 8px 390px red,
    1415px 699px red, 1473px 1211px red, 1590px 141px red, 270px 1705px red,
    69px 1423px red, 1108px 1053px red, 1946px 128px red, 371px 371px red,
    1490px 220px red, 357px 1885px red, 363px 363px red, 1896px 1256px red,
    1979px 1050px red, 947px 1342px red, 1754px 242px red, 514px 974px red,
    65px 1477px red, 1840px 547px red, 950px 695px red, 459px 1150px red,
    1124px 1502px red, 481px 940px red, 680px 839px red, 797px 1169px red,
    1977px 1491px red, 734px 1724px red, 210px 298px red, 816px 628px red,
    686px 770px red, 1721px 267px red, 1663px 511px red, 1481px 1141px red,
    582px 248px red, 1308px 953px red, 628px 657px red, 897px 1535px red,
    270px 931px red, 791px 467px red, 1336px 1732px red, 1013px 1653px red,
    1911px 956px red, 587px 816px red, 83px 456px red, 930px 1478px red,
    1587px 1694px red, 614px 1200px red, 302px 1782px red, 1711px 1432px red,
    443px 904px red, 1666px 714px red, 1588px 1167px red, 273px 1075px red,
    1679px 461px red, 721px 664px red, 1202px 10px red, 166px 1126px red,
    331px 1628px red, 430px 1565px red, 1585px 509px red, 640px 38px red,
    822px 837px red, 1760px 1664px red, 1122px 1458px red, 398px 131px red,
    689px 285px red, 460px 652px red, 1627px 365px red, 348px 1648px red,
    819px 1946px red, 981px 1917px red, 323px 76px red, 979px 684px red,
    887px 536px red, 1348px 1596px red, 1055px 666px red, 1402px 1797px red,
    1300px 1055px red, 937px 238px red, 1474px 1815px red, 1144px 1710px red,
    1629px 1087px red, 911px 919px red, 771px 819px red, 403px 720px red,
    163px 736px red, 1062px 238px red, 1774px 818px red, 1874px 1178px red,
    1177px 699px red, 1244px 1244px red, 1371px 58px red, 564px 1515px red,
    1824px 487px red, 929px 702px red, 394px 1348px red, 1161px 641px red,
    219px 1841px red, 358px 941px red, 140px 1759px red, 1019px 1345px red,
    274px 436px red, 1433px 1605px red, 1798px 1426px red, 294px 1848px red,
    1681px 1877px red, 1344px 1824px red, 1439px 1632px red, 161px 1012px red,
    1308px 588px red, 1789px 582px red, 721px 1910px red, 318px 218px red,
    607px 319px red, 495px 535px red, 1552px 1575px red, 1562px 67px red,
    403px 926px red, 1096px 1800px red, 1814px 1709px red, 1882px 1831px red,
    533px 46px red, 823px 969px red, 530px 165px red, 1030px 352px red,
    1681px 313px red, 338px 115px red, 1607px 211px red, 1718px 1184px red,
    1589px 659px red, 278px 355px red, 464px 1464px red, 1165px 277px red,
    950px 694px red, 1746px 293px red, 793px 911px red, 528px 773px red,
    1883px 1694px red, 748px 182px red, 1924px 1531px red, 100px 636px red,
    1473px 1445px red, 1264px 1244px red, 850px 1377px red, 987px 1976px red,
    933px 1761px red, 922px 1270px red, 500px 396px red, 1324px 8px red,
    1967px 1814px red, 1072px 1401px red, 961px 37px red, 156px 81px red,
    1915px 502px red, 1076px 1846px red, 152px 1669px red, 986px 1529px red,
    1667px 1137px red;
}
#stars3 {
  width: 5px;
  height: 5px;
  background: transparent;
  border-radius: 50%;
  animation: animStar 240s linear infinite;

  box-shadow: 387px 1878px red, 760px 1564px red, 1487px 999px red,
    948px 1828px red, 1977px 1001px red, 1284px 1963px red, 656px 284px red,
    1268px 1635px red, 1820px 598px red, 642px 1900px red, 296px 57px red,
    921px 1620px red, 476px 1858px red, 658px 613px red, 1171px 1363px red,
    1419px 283px red, 1037px 731px red, 503px 663px red, 1562px 463px red,
    383px 1197px red, 1171px 1233px red, 876px 1768px red, 856px 1615px red,
    1375px 1924px red, 1725px 918px red, 952px 119px red, 768px 1212px red,
    992px 1462px red, 1929px 717px red, 1947px 755px red, 1818px 1123px red,
    1896px 1672px red, 460px 198px red, 256px 271px red, 752px 544px red,
    1222px 1859px red, 1851px 443px red, 313px 1858px red, 709px 446px red,
    1546px 697px red, 674px 1155px red, 1112px 130px red, 355px 1790px red,
    1496px 974px red, 1696px 480px red, 1316px 1265px red, 1645px 1063px red,
    1182px 237px red, 427px 1582px red, 859px 253px red, 458px 939px red,
    1517px 1644px red, 1943px 60px red, 212px 1650px red, 966px 1786px red,
    473px 712px red, 130px 76px red, 1417px 1186px red, 909px 1580px red,
    1913px 762px red, 204px 1143px red, 1998px 1057px red, 1468px 1301px red,
    144px 1676px red, 21px 1601px red, 382px 1362px red, 912px 753px red,
    1488px 1405px red, 802px 156px red, 174px 550px red, 338px 1366px red,
    1197px 774px red, 602px 486px red, 682px 1877px red, 348px 1503px red,
    407px 1139px red, 950px 1400px red, 922px 1139px red, 1697px 293px red,
    1238px 1281px red, 1038px 1197px red, 376px 1889px red, 1255px 1680px red,
    1008px 1316px red, 1538px 1447px red, 1186px 874px red, 1967px 640px red,
    1341px 19px red, 29px 1732px red, 16px 1650px red, 1021px 1075px red,
    723px 424px red, 1175px 41px red, 494px 1957px red, 1296px 431px red,
    175px 1507px red, 831px 121px red, 498px 1947px red, 617px 880px red,
    240px 403px red;
}
#stars3:after {
  content: "";
  position: absolute;
  top: auto;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: transparent;

  box-shadow: 387px 1878px red, 760px 1564px red, 1487px 999px red,
    948px 1828px red, 1977px 1001px red, 1284px 1963px red, 656px 284px red,
    1268px 1635px red, 1820px 598px red, 642px 1900px red, 296px 57px red,
    921px 1620px red, 476px 1858px red, 658px 613px red, 1171px 1363px red,
    1419px 283px red, 1037px 731px red, 503px 663px red, 1562px 463px red,
    383px 1197px red, 1171px 1233px red, 876px 1768px red, 856px 1615px red,
    1375px 1924px red, 1725px 918px red, 952px 119px red, 768px 1212px red,
    992px 1462px red, 1929px 717px red, 1947px 755px red, 1818px 1123px red,
    1896px 1672px red, 460px 198px red, 256px 271px red, 752px 544px red,
    1222px 1859px red, 1851px 443px red, 313px 1858px red, 709px 446px red,
    1546px 697px red, 674px 1155px red, 1112px 130px red, 355px 1790px red,
    1496px 974px red, 1696px 480px red, 1316px 1265px red, 1645px 1063px red,
    1182px 237px red, 427px 1582px red, 859px 253px red, 458px 939px red,
    1517px 1644px red, 1943px 60px red, 212px 1650px red, 966px 1786px red,
    473px 712px red, 130px 76px red, 1417px 1186px red, 909px 1580px red,
    1913px 762px red, 204px 1143px red, 1998px 1057px red, 1468px 1301px red,
    144px 1676px red, 21px 1601px red, 382px 1362px red, 912px 753px red,
    1488px 1405px red, 802px 156px red, 174px 550px red, 338px 1366px red,
    1197px 774px red, 602px 486px red, 682px 1877px red, 348px 1503px red,
    407px 1139px red, 950px 1400px red, 922px 1139px red, 1697px 293px red,
    1238px 1281px red, 1038px 1197px red, 376px 1889px red, 1255px 1680px red,
    1008px 1316px red, 1538px 1447px red, 1186px 874px red, 1967px 640px red,
    1341px 19px red, 29px 1732px red, 16px 1650px red, 1021px 1075px red,
    723px 424px red, 1175px 41px red, 494px 1957px red, 1296px 431px red,
    175px 1507px red, 831px 121px red, 498px 1947px red, 617px 880px red,
    240px 403px red;
}
@keyframes animStar {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-2000px);
  }
}

/* ===== =====>>  Body Font Size  <<===== =====  */
html {
  font-size: 10px;
  overflow-x: hidden;
  user-select: none;
}

/* ===== =====>> Css Variables  <<===== =====  */
:root {
  /* =====>>  Font Color  <<===== */
  --f1-color: red;
  --f2-color: #000;
  --f3-color: rgba(0, 0, 0, 0.8);
  --f4-color: rgba(0, 0, 0, 0.6);
  --f5-color: #0099cc;
  --f6-color: #88cee6;

  /* =====>>  Background Color  <<===== */
  --bg1-color: red;
  --bg2-color: #000;
  --bg3-color: #33ccff;
  --bg4-color: #33cc33;
  --bg5-color: #0099cc;
  --bg6-color: rgba(0, 0, 0, 0.4);
  --bg7-color: rgba(0, 0, 0, 0.2);
  --glass-bg: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.3)
  );
  --C-lg-bg: linear-gradient(45deg, #ff3399, #ff9933);

  /* ===== =====>>  Font Size  <<===== =====  */
  --xxxl-fs: 2.2rem;
  --xxl-fs: 1.8rem;
  --xl-fs: 1.6rem;
  --l-fs: 1.4rem;
  --m-fs: 1.2rem;
  --s-fs: 1.1rem;
  --xs-fs: 1rem;

  /* =====>>  Margin  <<===== */
  --m-2-5: 2.5rem;
  --m-1-8: 1.8rem;
  --m-1-5: 1.5rem;
  --m-0-6: 0.6rem;
  --m-0-5: 0.5rem;
  --m-0-3: 0.3rem;

  /* =====>>  Padding  <<===== */
  --p-2-5: 2.5rem;
  --p-1-5: 1.5rem;
  --p-1-0: 1rem;
  --p-0-8: 0.8rem;
  --p-0-5: 0.5rem;
  --p-0-4: 0.4rem;
  --p-0-3: 0.3rem;
}

/* ===== =====>>  Body Css  <<===== =====  */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* ===== =====>>  Body Main-Background Css  <<===== =====  */
.main_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url(./profile/bg.png) no-repeat center;
  z-index: -1;
  background-size: cover;
  filter: blur(15px);
}

/* ===== =====>>  Main-Container Css  <<===== =====  */
.container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "userProfile userDetails"
    "work_skills timeline_about"
    "work_skills timeline_about";
  width: 85%;
  height: 90vh;
  background: var(--glass-bg);
  padding: var(--p-1-5);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 25px rgba(0, 0, 0, 0.2);
  border-radius: 13px;
}

/* ===== =====>>  Container Cards Grid-Area Css Start  <<===== =====  */
.userProfile {
  grid-area: userProfile;
}

.work_skills {
  grid-area: work_skills;
}

.userDetails {
  grid-area: userDetails;
}

.timeline_about {
  grid-area: timeline_about;
}

/* ===== =====>>  Container Cards Css  <<===== =====  */
.container .card {
  background: var(--glass-bg);
  backdrop-filter: blur(3rem);
  border-radius: 0.5rem;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);
  padding: var(--p-1-5);
  margin: 3px;
}

/* ===== =====>>  User Main-Profile Css Start  <<===== ===== */
.container .userProfile {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: none;
  backdrop-filter: none;
  box-shadow: none;
}
.profile .logo {
  max-height: 48%;
  max-width: 48%;
  border-radius: 50%;
  border: 2px solid;
  animation: borderAnimation 3s infinite;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
@keyframes borderAnimation {
  0% {
    border-color: red;
  }
  25% {
    border-color: #ff9933;
  }
  50% {
    border-color: #33cc33;
  }
  75% {
    border-color: blue;
  }
  100% {
    border-color: red;
  }
}
.border-color {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* ===== =====>>  Work & Skills Css Start  <<===== ===== */
.container .work_skills {
  padding: var(--p-1-5);
}

.work_skills .work .heading,
.work_skills .skills .heading {
  position: relative;
  font-size: var(--xs-fs);
  color: rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  margin-bottom: var(--m-1-5);
}

.work_skills .work .heading::before,
.work_skills .skills .heading::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 0.1rem;
  width: 88%;
  background: var(--bg6-color);
}

.work_skills .work .primary,
.work_skills .work .secondary {
  position: relative;
}

.work_skills .work .primary h1,
.work_skills .work .secondary h1 {
  font-size: var(--l-fs);
  color: var(--f3-color);
  margin-bottom: var(--m-0-6);
}

.work_skills .work .primary span,
.work_skills .work .secondary span {
  position: absolute;
  top: 0;
  right: 3rem;
  font-weight: 700;
  font-size: var(--s-fs);
  color: var(--f5-color);
  background: #e6f2ff;
  padding: var(--p-0-4) var(--p-1-0);
  border-radius: 0.4rem;
}

.work_skills .work .primary p,
.work_skills .work .secondary p {
  margin-bottom: var(--m-1-8);
  font-size: var(--m-fs);
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.6rem;
}

/* =====>>  Skills Bars Css  <<===== */
.work_skills .skills ul li {
  position: relative;
  font-size: var(--m-fs);
  line-height: 1.8rem;
  margin: var(--m-0-5);
  color: var(--f2-color);
  font-weight: 500;
}

.work_skills .skills ul li::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 0.4rem;
  background: var(--bg3-color);
  animation: skills 8s linear infinite;
  animation-delay: calc(-2s * var(--i));
}

@keyframes skills {
  0% {
    width: 50%;
    filter: hue-rotate(180deg);
  }

  50% {
    width: 0;
  }

  100% {
    width: 50%;
    filter: hue-rotate(0);
  }
}

/* ===== =====>>  User Details Css Start  <<===== ===== */

.userDetails_center {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.userDetails .userName h1 {
  font-size: 23px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-align: center;
}

.userDetails .userName .map .ri {
  margin-right: var(--m-0-3);
  font-size: var(--m-fs);
}

.userDetails .userName p {
  font-weight: 500;
  margin-top: 5px;
  color: var(--f5-color);
  text-align: center;
}

.userDetails .rank {
  position: relative;
  margin-bottom: var(--m-1-8);
}

.userDetails .rank .heading {
  font-size: var(--xs-fs);
  color: var(--f4-color);
  text-transform: uppercase;
  margin-bottom: var(--m-0-6);
}

.userDetails .rank span {
  font-size: var(--xxl-fs);
  font-weight: 700;
}

.userDetails .rank .rating {
  position: absolute;
  top: 2.7rem;
  left: 3.5rem;
}

.userDetails .rank .rating .rate {
  color: var(--f5-color);
  font-size: var(--l-fs);
}

.userDetails .rank .rating .underrate {
  color: var(--f6-color);
}

.social-media {
  width: 100%;
}
.main-social-media {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-social-media a {
  cursor: pointer;
}
.main-social-media .social-media-icon {
  font-size: 20px;
  color: #0099cc;
  padding: 15px;
  border: 1px solid transparent;
}
.social-media-icon:hover {
  border: 1px solid #0099cc;
  border-radius: 13px;
  transition: all 0.3s ease-in-out;
  background-color: rgb(230, 242, 255);
}

.userDetails .btns ul,
.userDetails .btns ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.userDetails .btns ul li {
  margin-right: var(--m-2-5);
  border-radius: 0.5rem;
}

.userDetails .btns ul li .ri {
  margin-right: var(--m-0-5);
  font-size: var(--xl-fs);
}

.userDetails .btns ul li a {
  font-size: var(--l-fs);
  color: var(--f2-color);
  font-weight: 500;
}

.userDetails .btns ul .active {
  background: #e6f2ff;
  padding: var(--p-0-5) var(--p-1-5);
}

.userDetails .btns ul .active a,
.userDetails .btns ul .active .ri {
  color: var(--f5-color);
}

/* ===== =====>>  Timeline & About Css Start  <<===== ===== */
.timeline_about {
  padding: var(--p-2-5);
}

.timeline_about .tabs ul {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: var(--m-2-5);
}

.timeline_about .tabs ul::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background: var(--bg7-color);
}

.timeline_about .tabs ul li {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: var(--m-2-5);
  padding-bottom: var(--p-0-8);
  cursor: pointer;
}

.timeline_about .tabs ul li span {
  font-size: var(--l-fs);
  font-weight: 500;
}

.timeline_about .tabs ul li .ri {
  margin-right: var(--m-0-5);
}

.timeline_about .tabs ul .active::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: var(--bg5-color);
}

.timeline_about .contact_info .heading,
.timeline_about .basic_info .heading {
  font-size: 14px;
  color: var(--f4-color);
  margin-bottom: var(--m-1-5);
}

.timeline_about .contact_info ul,
.timeline_about .basic_info ul {
  margin-bottom: var(--m-1-5);
}

.timeline_about .contact_info ul li,
.timeline_about .basic_info ul li {
  display: flex;
  margin: var(--m-0-5) 0;
}

.timeline_about .contact_info ul li h1,
.timeline_about .basic_info ul li h1 {
  font-weight: 500;
  font-size: var(--m-fs);
  min-width: 12rem;
}

.timeline_about .contact_info ul li span,
.timeline_about .basic_info ul li span {
  font-size: 13px;
}

.timeline_about .contact_info ul .phone span,
.timeline_about .contact_info ul .email span,
.timeline_about .contact_info ul .site span {
  color: var(--f5-color);
}

@media only screen and (max-width: 768px) {
  .profile {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .profile .logo {
    max-height: 30%;
    max-width: 30%;
  }
}
